@import "../variables/variables";

// 2. Buttons

.btn {
  border-radius: 5px;
  padding: 0.375rem 2rem;
  border: 0;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
  &:hover {
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
  }
}
.btn-primary {
  background-image: linear-gradient(135deg, #f55555 10%, #fcb431 100%);
  &:focus {
    border: 0;
    box-shadow: unset;
  }
  &:active {
    border: 0;
    box-shadow: unset;
  }
}
.btn-primary:not(:disabled):not(.disabled):active:focus {
  border: 0;
  box-shadow: unset;
}

.btn-secondary {
  background-color: $color-charcoal;
  &:focus {
    border: 0;
    box-shadow: unset;
    background-color: $color-charcoal;
  }
  &:active {
    border: 0;
    box-shadow: unset;
    background-color: $color-charcoal;
  }
  &:hover {
    background-color: $color-charcoal;
  }
}
.btn-secondary:not(:disabled):not(.disabled):active:focus {
  border: 0;
  box-shadow: unset;
}
