@import "../variables/variables";
@import "../../fonts/samarkan/stylesheet";
.header {
  background-color: $color-white;
}
.logo {
  height: 60px;
}
.logo-text {
  font-size: 1.2rem;
  font-weight: 500;
  font-family: "samarkan_____normal";
  vertical-align: middle;
  background-color: #3b3e85;
  background-image: linear-gradient(135deg, #3b3e85 10%, #000dff 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}
.navbar-nav {
  .nav-link {
    font-size: 14px;
    font-weight: 500;
    color: $color-charcoal !important;
    &:hover {
      color: $color-orange-dark !important;
    }
  }
  
  .dropdown-item.active, .dropdown-item:active{
    background-color: $color-white;
  }
 
  .dropdown-menu {
    border: 0;
    box-shadow: $shadow;
    .nav-link {
      color: $color-white-light-1 !important;
      &:hover {
        color: $color-orange-dark !important;
      }
      span {
        color: $color-orange-dark;
      }
    }
    .dropdown-item {
      font-size: 14px;
      font-weight: 500;
    }
    .dropdown-header {
      color: $color-charcoal !important;
      font-weight: 600;
    }
  }
}

.dropdown {
  &:hover {
    .dropdown-menu {
      display: block !important;
    }
  }
}

.banner-img {
  height: 100vh;
  object-fit: cover;
}

.shop-ul {
  margin: 0;
  padding: 0;
  svg {
    margin-top: -2px;
    font-size: 15px;
    margin-right: 5px;
  }
  .shop-link {
    font-size: 14px;
    font-weight: 500;
    color: #212121 !important;
    padding-left: 3px;
    &:hover {
      color: $color-orange-dark!important;
    }
  }
  li {
    list-style: none;
    display: inline-block;
    padding-left: 10px;
    &:hover {
      color: $color-orange-dark;
    }
  }
}
@media (min-width: 1024px) {
  .max-menu {
    min-width: 30rem !important;
  }
  .max-menu-large {
    min-width: 40rem !important;
  }
  .max-menu-small {
    min-width: 20rem !important;
  }
}
